{% load static %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}<P><strong>{{ error_message }}</strong></P>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}

    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} -- {{ choice.votes}} vote{{ choice.votes|pluralize }}</label>
    <br />
    {% endfor %}
    <br />
    <input type="submit" value="Vote" />
    <a href="{% url 'polls:index' %}">Return</a>
</form>

<img src="{% static 'polls/images/background.jpg' %}" alt="Background" />